<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="OrmConfiguration" type="Sage.Platform.Extensibility.OrmConfiguration, Sage.Platform"/>
		<section name="targetDesigners" type="Sage.Platform.Deployment.TargetDesignerConfigurationSection, Sage.Platform.Deployment"/>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Platform;SalesLogix;SupportFiles"/>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" culture="neutral" publicKeyToken="aa95f207798dfdb4"/>
				<bindingRedirect oldVersion="1.2.0.4000" newVersion="1.2.1.4000"/>
			</dependentAssembly>
			<probing privatePath="Platform;SupportFiles"/>
		</assemblyBinding>
	</runtime>
	<targetDesigners>
		<designer Target="IIS" Assembly="Sage.Platform.Deployment.AdminModule" Class="Sage.Platform.Deployment.AdminModule.IISDeploymentTarget"/>
		<designer Target="File System" Assembly="Sage.Platform.Deployment.AdminModule" Class="Sage.Platform.Deployment.AdminModule.FileSystemDeploymentTarget"/>
		<designer Target="Remote User" Assembly="Sage.SalesLogix.Deployment" Class="Sage.SalesLogix.Deployment.UserDeploymentTarget"/>
		<designer Target="Remote Office" Assembly="Sage.SalesLogix.Deployment" Class="Sage.SalesLogix.Deployment.RemoteOfficeDeploymentTarget"/>
	</targetDesigners>
	<connectionStrings>
		<!--<add name="Default" connectionString="Provider=SLXOLEDB.1;Persist Security Info=True;User ID=Admin;Initial Catalog=SALESLOGIX_EVAL;Data Source=VISTA-DEV2;Extended Properties=&quot;PORT=1706;LOG=ON;ACTIVITYSECURITY=OFF;TIMEZONE=NONE&quot;"/>-->
		<!--<add name="Default" connectionString="" /> -->
	</connectionStrings>
	<log4net threshold="ALL">
		<appender name="console" type="log4net.Appender.ColoredConsoleAppender, log4net">
			<mapping>
				<level value="ERROR"/>
				<foreColor value="Red, HighIntensity"/>
			</mapping>
			<mapping>
				<level value="DEBUG"/>
				<foreColor value="Green"/>
			</mapping>
			<mapping>
				<level value="INFO"/>
				<foreColor value="Green"/>
			</mapping>
			<mapping>
				<level value="WARN"/>
				<foreColor value="Yellow, HighIntensity"/>
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date - %message%newline"/>
			</layout>
		</appender>
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender, log4net">
			<param name="File" value="DeploymentUtility.txt"/>
			<!--<param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd" />
      <param name="StaticLogFileName" value="true" />-->
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%m%n"/>
			</layout>
		</appender>
		<!-- Set root logger level to DEBUG and its only appender to A1 -->
		<root>
			<level value="OFF"/>
		</root>
		<logger name="Sage.Build">
			<appender-ref ref="console"/>
			<appender-ref ref="rollingFile"/>
			<level value="ALL"/>
		</logger>
		<logger name="DeploymentUtility.Program">
			<appender-ref ref="console"/>
			<appender-ref ref="rollingFile"/>
			<level value="ALL"/>
		</logger>
		<logger name="Sage.Platform.Orm.CodeGen">
			<appender-ref ref="console"/>
			<level value="ALL"/>
		</logger>
		<logger name="Sage.Platform.QuickForms.WebFormGen">
			<appender-ref ref="console"/>
			<level value="ALL"/>
		</logger>
		<logger name="Sage.Deploy">
			<appender-ref ref="console"/>
			<appender-ref ref="rollingFile"/>
			<level value="ALL"/>
		</logger>
	</log4net>
	<OrmConfiguration>
		<extensions>
			<extension guid="{BD282510-B0DD-4b66-8654-8723A4B9F651}" name="Server Objects Package" typeName="Sage.Platform.Orm.CodeGen.SalesLogixCodeGeneration, Sage.Platform.Orm.CodeGen"/>
			<extension guid="{3BD6A6DE-09A6-42f8-A247-F5537ED607E4}" name="High-Level Types Package" typeName="Sage.SalesLogix.HighLevelTypes.SlxHighLevelTypes, Sage.SalesLogix.HighLevelTypes"/>
			<extension guid="{04769cab-b058-4258-bff3-569f55214747}" name="Quick Forms Package" typeName="Sage.Platform.QuickForms.WebFormGen.WebQuickFormRendering, Sage.Platform.QuickForms.WebFormGen"/>
			<extension guid="{5D3B4CEE-F5B5-4d4c-B200-6E4D33646057}" name="Quick Form Interfaces Package" typeName="Sage.Platform.QuickForms.WebFormGen.FormCodeGeneration, Sage.Platform.QuickForms.WebFormGen"/>
		</extensions>
	</OrmConfiguration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
